body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.youtube_video{
  position: relative;
  width: 70%;
  height: 470px;
  right: 38px;
  display: inline-block;
}

#youtube_content{
  width:100%;
  height:100%;
}

header{
  display: block;
  width: 100%;
  height: 55px;
  border-bottom:1px solid #ecf0f1 ;
}
header .search-form {
    top: 2%;
    position: absolute;
    display: flex;
    width: 100%;
    margin-left: 22%;
}
header .search-form input {
    width: 36%;
    max-width: 562px;
    height: 30px;
    padding: 0 10px 0 10px;
    border: 1px solid #D3D3D3;
    border-radius: 0 2px 2px 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #bdc3c7;
}
.search-button{
  height: 30px;
  width: 70px;
}

.top-right-icons{
  float:right;
}

.top-right-icons img{
  padding:17px;
}

#margine{
  margin-left: 140px;
  display: inline-block;
  width: 90%;
}

.video_buttons{
  float: right;
}

.video_buttons a{
  display: inline-block;
  height: 20px;
  width: 65px;
}

.video_buttons a span{
  float: right;
}

.sidebar {
  display: inline-block;
  margin-bottom: 63px;
}

.next_autoplay {
  height: 50px;
  width: 100%;
}

.sidebar .next {
  float: left;
  width: 50%;
}

.sidebar .autoplay {
  float: right;
  width: 50%;
}

.sidebar .autoplay p {
  color: gray;
  font-size: 14px;
  margin-bottom: 17px;
  margin-top: 18px;
}

.side-content {
  height: 100px;
  width: 100%;
}

.divider {
  border-bottom: 1px solid #cccccc70;
  height: 1px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  width: 100%;
}

.side-content .thumbnail {
  float: left;
  margin-right: 7px;
}

.side-content .title {
  float: right;
  width: 200px;
}

.side-content .title .main {
  color: black;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 0;
}

.side-content .title .owner, .side-content .title .comment {
  color: gray;
  font-size: 13px;
  margin: 4px 0;
}
